* {
 margin: 0;
 padding: 0;
}
input:focus, textarea:focus, select:focus{
  outline: none;
  }
input:focus::placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.wrapper {
	width: 600px;
	margin: 15% auto;
}
.row {
	text-align: center;
	margin: 0 0 15px 0;
}
h2 {
	color: #222B4F;
}
input {
	width: 100%;
	background-color: #F4F4F4;
	text-align: center;
	height: 60px;
	border: none;
	border-radius: 5px;
	margin: 0 0 15px 0;
}
button {
	width: 20%;
	min-width: 220px;
	border: none;
	height: 50px;
	border-radius: 5px;
	background-color: #222B4F;
	opacity: 0.8;
	color: #FFFFFF;
	font-weight: bold;
}
