* {
 margin: 0;
 padding: 0;
}
html, body {
	font-family: 'Poppins', sans-serif;
}
input {
	width: 100%;
	background-color: #FFFFFF;
	height: 50px;
	border: 1px solid #0712DE;
	border-radius: 5px;
	margin: 0 0 15px 0;
	text-indent: 20px;
}
button {
	width: 100%;
	min-width: 220px;
	border: none;
	height: 50px;
	border-radius: 5px;
	background-color: #0712DE;
	opacity: 0.8;
	color: #FFFFFF;
	cursor: pointer;
}
button:hover {
	background-color: #ffffff;
	border: 1px solid #0712DE;
	color: #0712DE;
}
.content p {
	margin-bottom: 50px;
	color: #C0C0C0;
	font-size: 1vw;
}
a {
	color: #FFFFFF;
	text-decoration: underline;
}
.left, .right {
	float: left;
	width: 50%;
}
.right {
	background-color: #0712DE;
	height: 100vh;
}
.right p {
	color: #ffffff;
}
.clear {
	clear: left;
}
.content {
	margin: 33% auto;
	width: 70%;
}
.content h2 {
	margin-bottom: 10px;
	font-weight: 300;
}
.right h2 {
	font-size: 5.5vw;
	line-height: 5vw;
	font-weight: 600;
	color: #FFFFFF;
}
.left h2 {
	font-size: 3vw;
	line-height: 2.5vw;
	font-weight: 400;
}
form {
	text-align: center;
}
#shortUrl {
	cursor: pointer;
}
#shortUrl:hover {
	color: #0712DE;
}
